body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

#user-display {
  margin: 20px 0 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff8f8;
}

.img-container {
  border: 1px solid #000;
  width: 15%;
  height: 40%;
}

.img-username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.post {
  width: 80%;
  border: 1px solid #000;
}

.post h2 {
  margin-left: 120px;
}

.post p {
  margin-left: 130px;
}

@media only screen and (min-width: 768px) {
  .img-container {
    width: 18%;
    height: 20%;
  }

  .post {
    width: 80%;
    border: 1px solid #000;
  }

  .post h2 {
    margin-left: 450px;
  }

  .post p {
    margin-left: 850px;
  }
}
